// Color (2-3), font (2-3), heading (font), sub-heading (font), content
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
$primary_color:rgb(1, 82, 82);
 
a {
    text-decoration: none;
    color: black
}

ul {
    list-style: none;
}

.flex{
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}



header {
    background-color: $primary_color;
    padding: 20px 0;
    .container {
        width: 1200px;
        margin: auto;
        @extend .flex;
        .logo {
            font-size: 35px;
            color: yellow;
        }

        nav {
           margin-right: 250px;
            ul {
                @extend .flex;
                li {
                    padding: 10px 20px;
                    border-radius: 10px;
                    a {
                        color: white;

                        &:hover{
                            color:red;
                        }
                    }
                 &:hover{
                    background-color: yellow;
                 }
                }
            }
        }

        .social-media{
            font-size: 20px;
            color: orange;
            i{
                padding: 0 10px;
            }
        }
    }
}

#slider{
    .image{
        background-image: url(https://prabhatmallik.com.np/html/01/assets/img/hero-bg.jpg);
        height: 650px;
        background-size: cover;
    }
}
